#top-menu {
  background-color: #000;
  height: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.75s;
}

#top-menu a {
  color: #fff;
  text-decoration: underline;
  font-size: var(--font-sm);
  font-weight: 500;
}

#main-header[data-show="false"] #top-menu {
  margin-top: 0;
}

#main-header[data-show="true"] #top-menu {
  margin-top: -2.5rem;
}
