@import url("../styles/reset.css");
@import url("../styles/variables.css");

body {
  color: var(--text);
}

a {
  color: var(--text);
  transition: color 0.3s;
}

a:hover {
  color: var(--brand);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
