#providers {
  background-color: var(--grey);
  margin-bottom: 2.5rem;
}

#providers .providers-container {
  display: flex;
  gap: 0.5rem;
}

#providers .providers-container > * {
  margin: 0 auto;
  min-width: 3rem;
  max-width: 7.5rem;
}

#providers .provider {
  filter: grayscale(1);
}
